* {
  margin: 0;
  font-family: Poppins;
  color: #333;
  box-sizing: border-box;
}
header {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
header::before,
header::after {
  content: "";
  margin: 0 10px 10px 10px;
  width: 50px;
  height: 3px;
  background-color: rgb(245, 195, 88);
}
.sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  margin-top: 25px;
}
.sub::before,
.sub::after {
  content: "";
  margin: 0 10px 10px 10px;
  width: 140px;
  height: 3px;
  background-color: rgb(56, 56, 56);
}
